BasedOnStyle: Google
ColumnLimit: 100
BraceWrapping:
    AfterEnum: true
Cpp11BracedListStyle: false
IndentWidth: 4
AccessModifierOffset: -4
BinPackParameters: false
NamespaceIndentation: All
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 8
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowShortFunctionsOnASingleLine: Empty